.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-family:"Roboto","Arial",sans-serif; */
}
.card-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card{
  width: 400px;
  margin:15px;
  cursor: pointer;
  overflow: hidden;
}
.card p{
  color: gray;
  font-size: 15px;
}

.thumbnail-img{
  height: 225px;
  width: 100%;
  border-radius: 15px;
}

.video-details{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
}
.logo{
  border-radius: 50%;
  height: 40px;
  width: auto;
  position: absolute;
  top: 10px;
  margin-right: 20px;
}
.details{
  margin-left: 55px;
  text-align: left;
}
.video-title{
  line-height: 0.85;
  font-weight: 600;
  font-style:normal;
  font-size: 1.33em;
}
.data p {
  line-height: 0.5;
  font-size: 0.9em;
}
.space{
  margin: 0 2px;
}